In [41]:
#import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
df = pd.read_csv("RecommendationData.csv")
print(df)

      id   Brand           Model
0      0  TOYOTA   TOYOTA PREMIO
1      1  TOYOTA  TOYOTA PASSO
2      2  TOYOTA     TOYOTA VITZ
3      3  TOYOTA    TOYOTA RAIZE
4      4  TOYOTA     TOYOTA TANK
..   ...     ...             ...
145  145   HONDA     HONDA FREED
146  146   MICRO    MICRO REXTON
147  147   MICRO      MICRO BAIC
148  148   MICRO    MICRO TIVOLI
149  149   MICRO   MICRO CORONDO

[150 rows x 3 columns]

In [43]:
#print first 3 rows
df.head(3)

   id   Brand           Model
0   0  TOYOTA   TOYOTA PREMIO
1   1  TOYOTA  TOYOTA PASSO
2   2  TOYOTA     TOYOTA VITZ

In [44]:
#number of rows and columns
df.shape

(150, 3)

In [45]:
#Convert a collection of text to a matrix of token count
countMatrix = CountVectorizer().fit_transform(df['Model'])#get from ModelSimple Column

In [46]:
#get the cosine similarity matrix from the countMatrix
cosineSim = cosine_similarity(countMatrix)
#print
print(cosineSim)

[[1.  0.5 0.5 ... 0.  0.  0. ]
 [0.5 1.  0.5 ... 0.  0.  0. ]
 [0.5 0.5 1.  ... 0.  0.  0. ]
 ...
 [0.  0.  0.  ... 1.  0.5 0.5]
 [0.  0.  0.  ... 0.5 1.  0.5]
 [0.  0.  0.  ... 0.5 0.5 1. ]]

In [47]:
#number of rows and colunms in cosine_sim
cosineSim.shape

(150, 150)

In [48]:
#get the model from the index
def get_Model_from_index(id):
    return df[df.id == id]['Model'].values[0]

#get the index from the model
def get_index_from_Model(Model):
    return df[df.Model == Model]['id'].values[0]

In [49]:
#Get the title of the vehicle the user likes
selectedVehicle='bmw i3'
vehicleName=selectedVehicle.upper()
#Find vehicle index
vehicle_index = get_index_from_Model(vehicleName)
print(vehicleName)

BMW I3

In [50]:
vehicle_index

102

In [51]:
#Enumerate all the similarity name like User Selected
#a tuple of vehicle index and similarity scores
similarVehicles = list( enumerate(cosineSim[vehicle_index]) )

In [52]:
#Sort the list of similar vehicles in decending order, based on the similarity scores
sortedSimilarVehicles = sorted(similarVehicles, key = lambda x:x[1], reverse = True)[1:]

In [53]:
#Print
sortedSimilarVehicles

[(88, 0.4999999999999999),
 (92, 0.4999999999999999),
 (93, 0.4999999999999999),
 (95, 0.4999999999999999),
 (96, 0.4999999999999999),
 (97, 0.4999999999999999),
 (98, 0.4999999999999999),
 (99, 0.4999999999999999),
 (100, 0.4999999999999999),
 (101, 0.4999999999999999),
 (103, 0.4999999999999999),
 (104, 0.408248290463863),
 (89, 0.35355339059327373),
 (90, 0.35355339059327373),
 (91, 0.35355339059327373),
 (94, 0.35355339059327373),
 (0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0),
 (21, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.0),
 (28, 0.0),
 (29, 0.0),
 (30, 0.0),
 (31, 0.0),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.0),
 (37, 0.0),
 (38, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (43, 0.0),
 (44, 0.0),
 (45, 0.0),
 (46, 0.0),
 (47, 0.0),
 (48, 0.0),
 (49, 0.0),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.0),
 (77, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (105, 0.0),
 (106, 0.0),
 (107, 0.0),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (123, 0.0),
 (124, 0.0),
 (125, 0.0),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.0),
 (137, 0.0),
 (138, 0.0),
 (139, 0.0),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (148, 0.0),
 (149, 0.0)]

In [54]:
#Create a loop to print the first 4 entris the sorted similar Vehicles list
i=1
print('The top 4 similar vehicles to '+vehicleName+' are:')

for element in sortedSimilarVehicles:
    print(get_Model_from_index(element[0]))
    i = i + 1
    if i >= 5:
        break

The top 4 similar vehicles to BMW I3 are:
BMW 1 SERIES
BMW 3 SERIES
BMW 5 SERIES
BMW 7 SERIES